{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h2><span class="smaller">Login</span></h2>
<h3>{{ message }}</h3>
<form method="POST">
    <table cellspacing="3" cellpadding="3">
        <tr>
            <td>user name</td>
            <td>&nbsp;</td>
            <td><input type="text" name="user_name" /></td>
        </tr>
        <tr>
            <td>password</td>
            <td>&nbsp;</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" /></td>
        </tr>
    </table>
</form>
</div>
{% endblock content %}
