{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h2><span class="smaller">Search room</span></h2>
<h3>{{ message }}</h3>
<form method="POST">
    <input type="number" name="floor" />
    <input type="submit" />
</form>
<br/>
{% if content is iterable %}
<div>
    <div style="border: solid 1px black; width: 100%; height: 23px;">
        <div style="width: 20%; height: 23px; float: left;"><span>CustID</span></div>
        <div style="width: 20%; height: 23px; float: left;"><span>Room</span></div>
        <div style="width: 20%; height: 23px; float: left;"><span>Lname</span></div>
        <div style="width: 20%; height: 23px; float: left;"><span>Fname</span></div>
        <div style="width: 20%; height: 23px; float: left;"><span>Profile</span></div>
    </div>
    
    {% for item in content %}
    <div style="border-bottom: dashed 1px black; width: 100%; height: 23px; margin-top: 3px;">
        <div style="width: 20%; height: 23px; float: left;"><span>{{item.cust_id}}</span></div>
        <div style="width: 20%; height: 23px; float: left;"><span>{{item.room_number}}</span></div>
        <div style="width: 20%; height: 23px; float: left;"><span>{{item.cust.cust_last_name}}</span></div>
        <div style="width: 20%; height: 23px; float: left;"><span>{{item.cust.cust_first_name}}</span></div>
        <div style="width: 20%; height: 23px; float: left;"><span>{{item.cust.cust_profile}}</span></div>        
    </div>
    
    {% endfor %}
    
</div>
<br />
<hr />
{% endif %}
    
</div>
{% endblock content %}
